@import "mixins";

.contentBattleWorks {
    display: grid;
    gap: 40px;
    padding: 32px 18px;
    .likeError {
        display: none;
        @include absolutePos(0, 0, 0, 0);
        @include w-h(200px, 50px);
        color: red;
        &.active {
            display: block;
        }
    }
    .contentBlock {
        height: 100%;
        background: black;
        padding-bottom: 0;
        position: relative;
        .image {
            @include w-h(100%, auto);
            cursor: pointer;
            overflow: hidden;
        }
        .workLink {
            position: relative;
            display: inline-flex;
            width: 100%;
            .blockMedal {
                position: absolute;
                top: 20px;
                right: 20px;
                @include w-h(50px, 50px);
                background: #0D0D0D;
                text-align: center;
                line-height: 60px;
                filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.7));
            }
        }
    }
}

@media (max-width: 950px) {
    .contentBattleWorks  {
        padding: 24px 16px;
    }
}