@import "mixins";

.moderBtns {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    button {
        padding: 10px;
        background-color: white;
        font: 500 14px InterMedium;
        cursor: pointer;
        border: none;
        &.acceptWork.active {
            background-color: green;
        }
        &.rejectWork.active {
            background-color: pink;
        }
    }
}