@import "mixins"; 

.restorePsw {
    @include w-h(100%, 100vh);
    @include dis-dir(flex, column);
    background-color: white;
    justify-content: center;
    align-items: center;
    .noticeBlock {
        margin-top: 16px;
    }
    input {
        outline: none;
    }
    input[type=password] {
        padding-right: 50px;
    }
    .inputs {
        display: flex;
        margin-top: 48px;
    }
    .restorePswHeading {
        font: 500 39px InterBold; 
        margin-top: 48px;
        max-width: 470px;
        text-align: center;
        letter-spacing: -0.05em;
        color: black;
    }
    .prompt {
        font: 500 14px InterMedium;
        color: black;
    }
    .inputGroup {
        position: relative;
        &:not(:first-of-type) {
            margin-left: 16px;
        }
    }
    .inputfield {
        width: 280px;
        border: 1px solid rgba(44, 44, 44, 0.2);
        color: #565656;
        font: 500 14px InterMedium;
        margin-top: 16px;
        background-color: white!important;
        padding: 20px;
        box-shadow: inset 0 0 0 50px #fff;
        -webkit-text-fill-color: #000;
        &:focus,
        &:hover {
            border-color: rgba(44, 44, 44, 1);
        }
    }
    .showPass {
        @include absolutePos(56px, 18px);
        opacity: 0.5;
        cursor: pointer;
        &.active {
            opacity: 1;
        }
    }
    .enterbutton {
        display: block;
        font-weight: 500;
        background: rgb(0, 0, 0);
        cursor: pointer;
        padding: 20px 40px;
        border: none;
        margin-top: 24px;
        color: white;
        font: 500 14px InterMedium;
    }
}