.header {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    padding: 15px;
}
.box-cert {
    margin-top: 160px;
}
.box-cert-title {
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    padding: 15px;
}