.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 18px;
    border-bottom: 1px solid #3A3A3A;
    .profileName{
        font-family: Inter;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        margin-left: 8px;
    }
    .profileImage{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .user{
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font: 500 14px InterMedium;
    }
    .enterSite {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font: 500 14px InterMedium;
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;
    }
    .logImage{
        width: 24px;
        height: 24px;
        &:first-child {
            transform: rotate(180deg);
            margin-right: 7px;
        }
    }
}